/*QUESTAO-1*/
#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #água {
  grid-column:3/4;
  }

/*QUESTAO-2*/
#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #Poção {
  grid-column:5/6
  }


/*QUESTAO-3*/
#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #água {
    grade-coluna-início: 1;
  grid-column:1/4
  }
/*QUESTAO-4*/
#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #água {
    grade-coluna-início: 5;
  grid-column:5/2
  }

/*QUESTAO-5*/
#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #água {
    grade-coluna-início: 1;
  grid-column:1/-2
  }

/*QUESTAO-6*/
#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #Poção {
  grid-column:-3
  }


/*QUESTAO-7*/
#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #água {
    início da coluna da grade: 2;
  grid-column:2/span 2
  }

/*QUESTAO-8*/
#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #água {
    grade-coluna-início: 1;
  grid-column:1/span 5
  }

/*QUESTAO-9*/
#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #água {
  grid-column:3/ span 3 
    extremidade da coluna da grade: 6;
  }

/*QUESTAO-10*/
#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #água {
  grid-column:4/6
  }

/*QUESTAO-11*/
#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #água {
  grid-column:2/5
  }

/*QUESTAO-12*/
#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #água {
  grid-row-start:3
  }

/*QUESTAO-13*/
#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #água {
  grid-row:3/6
  }

/*QUESTAO-14*/
#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #Poção {
  grid-column:2/3;
  grid-row:5/6
  }

/*QUESTAO-15*/
#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #água {
  grid-column:2/6;
  grid-row:1/6
  }

/*QUESTAO-16*/
#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #água {
  grid-area:1/2/4/6;
  }

/*QUESTAO-17*/
#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  # water-1 {
    área de grade: 1/4/6/5;
  }
  
  # water-2 {
  grid-area:2/3/5/6
  }

/*QUESTAO-18*/
#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  .água {
    pedido: 0;
  }
  
  #Poção {
  order:2
  }

/*QUESTAO-19*/
#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  .água {
    pedido: 0;
  }
  
  .Poção {
  order:-1
  }

/*QUESTAO-20*/
#garden {
    display: grade;
  grid-template-columns:50% 25% 25%
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #água {
    grade-coluna: 1;
    grade-linha: 1;
  }

/*QUESTAO-21*/
#garden {
    display: grade;
  grid-template-columns: repeat(8,12.5%);
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #água {
    grade-coluna: 1;
    grade-linha: 1;
  }

/*QUESTAO-22*/
#garden {
    display: grade;
  grid-template-columns: 100px 3em 40%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }

/*QUESTAO-23*/
#garden {
    display: grade;
  grid-template-columns: 2fr 10fr 
    grid-template-rows: 20% 20% 20% 20% 20%;
  }

/*QUESTAO-24*/
#garden {
    display: grade;
  grid-template-columns:50px 1fr 1fr 1fr 50px
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #água {
    área de grade: 1/1/6/2;
  }
  
  #Poção {
    área de grade: 1/5/6/6;
  }

/*QUESTAO-25*/
#garden {
    display: grade;
  grid-template-columns: 75px 3fr 2fr
    linhas de modelo de grade: 100%;
  }


/*QUESTAO-26*/
#garden {
    display: grade;
    colunas de modelo de grade: 20% 20% 20% 20% 20%;
  grid-template-rows: 50px 0fr 0fr 0fr 
  }
  
  #água {
    coluna-grade: 1/6;
    grade de linha: 5/6;
  }

/*QUESTAO-27*/
#garden {
    display: grade;
  grid-template:60%/200px
  }
  
  #água {
    grade-coluna: 1;
    grade-linha: 1;
  }

/*QUESTAO-28*/
#garden {
    display: grade;
  grid-template: 1fr 50px/ 1fr 4fr
  }

/*QUESTAO-1*/

